@use "@angular/material" as mat;

$custom-typography: mat.define-typography-config(
  $font-family: '"Ploni", sans-serif',
  $body-1: mat.define-typography-level(1rem, 1.15rem, 400),
  $button: mat.define-typography-level(1rem, 1.15rem, 500),
);

$custom-primary: mat.define-palette(mat.$indigo-palette, 800);
$custom-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.core();
@include mat.all-component-themes($custom-theme);

@import './buttons.scss';
@import './panel.scss';
