$color-white: #ffffff;
$color-primary: #14008e;
$color-primary-hover: #120080;

$color-disabled-bg: #f0f0f1;
$color-disabled-text-icon: #6b6e77;

$color-secondary: #232873;
$color-secondary-border: #bdbfd5;
$color-secondary-border-hover: #a0a2b7;

$color-menu-border: $color-secondary-border;
$color-menu-shadow: rgba(0, 0, 0, 0.1);
