<section>
  <div class="example-button-row">
    <button mat-button class="button-primary medium" (click)="toggleMenu()">
      Primary</button>
    <button mat-button class="button-primary medium" disabled>Primary Disabled</button>

    <button mat-button class="button-secondary medium" (click)="toggleMenu()"><mat-icon [svgIcon]="isExpandedMenu ?
      'arrow-up' : 'arrow-down'"></mat-icon>
      Secondary</button>
    <button mat-button class="button-secondary medium" disabled> <mat-icon [svgIcon]="isExpandedMenu ?
      'arrow-up' : 'arrow-down'"></mat-icon>
      Secondary Disabled</button>

    <button mat-button class="button-secondary medium" disabled><mat-icon svgIcon="check"></mat-icon>
      Disabled</button>

    <button mat-button class="button-text icon-right medium" disabled>
      text button
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </div>
</section>
