<button mat-button #menuTrigger="matMenuTrigger" class="button-secondary icon-right medium" [matMenuTriggerFor]="menu" (menuOpened)="isExpandedMenu=true"
  (menuClosed)="isExpandedMenu=false">
  {{label}}
  <mat-icon [svgIcon]="isExpandedMenu ?
  'arrow-up' : 'arrow-down'"></mat-icon></button>
<mat-menu #menu="matMenu" xPosition="before">
  <div class="panel-container" (click)="$event.stopPropagation()">
    <div class="options-container">
      <ng-container *ngFor="let option of options">
        <button mat-button class="button-text medium p-0" (click)="toggleSelection(option, $event)">
          {{ option.label }}
          <mat-icon svgIcon="check" [ngClass]="{'invisible-item': selectedOption?.value !== option.value}"></mat-icon>
        </button>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <div class="w-full submit-controls-container">
      <button mat-button [disabled]="!selectedOption" class="button-primary medium w-full"
        (click)="submitSelection($event)">הצגת בקשות</button>
      <button mat-button *ngIf="!!selectedOption" class="button-text button-text-underline medium w-full"
        (click)="resetSelection($event)">ניקוי בחירה</button>
    </div>
  </div>
</mat-menu>
