@use "@angular/material" as mat;

$custom-typography: mat.define-typography-config(
  $font-family: '"Ploni", sans-serif',
  $body-1: mat.define-typography-level(1rem, 1.15rem, 400),
  $button: mat.define-typography-level(1rem, 1.15rem, 500),
);

$custom-primary: mat.define-palette(mat.$indigo-palette, 800);
$custom-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.core();
@include mat.all-component-themes($custom-theme);

.mdc-button.mat-mdc-button {
  & {
    display: flex;
    gap: 0.5rem;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;

    span.mdc-button__ripple {
      display: none;
    }

    .mat-icon {
      width: 24px;
      height: 24px;

      flex-shrink: 0;
      margin: 0;
    }
  }

  &.medium {
    height: 44px;
  }
  &.large {
    height: 60px;
  }

  &.icon {
    &-right {
      flex-direction: row-reverse;
    }
    &-left {
      // default behaviour
      flex-direction: row;
    }
  }

  &.button-primary {
    background-color: #14008e;
    color: #ffffff;
    font-weight: 600;

    &:hover {
      background-color: #120080;
    }
    &:disabled {
      background-color: #f0f0f1;
      color: #6b6e77;
    }
  }

  &.button-secondary {
    background-color: #ffffff;
    color: #232873;
    border: 1px solid #bdbfd5;
    font-weight: 500;

    .mat-icon {
      color: #232873;
    }

    &:hover {
      border-color: #a0a2b7;
      background-color: #ffffff;
    }

    &:disabled {
      background-color: #f0f0f1;
      color: #6b6e77;
      border-color: #f0f0f1;

      .mat-icon {
        color: #6b6e77;
      }
    }
  }

  &.button-text {
    color: #232873;
    font-weight: 500;
    background-color: transparent;
    border-color: transparent;

    &-underline {
      text-decoration: underline;
      font-weight: 400;
    }

    &:disabled {
      color: #6b6e77;
      font-weight: 500;
    }
  }
}

.mat-mdc-menu-panel {
  min-width: 200px !important;
  margin-top: 0.5rem;
  padding: 0.75rem;

  border: 1px solid #bdbfd5;
  border-radius: 6px;

  &.mat-elevation-z8 {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .mat-mdc-menu-content {
    padding: 0;
  }
}
