@font-face {
  font-family: "Ploni";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/PloniRegular.otf") format("opentype");
}

@font-face {
  font-family: "Ploni";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/PloniMedium.otf") format("opentype");
}

@font-face {
  font-family: "Ploni";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/PloniDBold.otf") format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Ploni", sans-serif;
  font-size: 16px;
}

@import "./styles/utils.scss";
@import "./styles/material/index.scss";
